{% extends 'base.html' %}

{% block title%}
  Home
{% endblock%}
  {% load static %}
{% block css %}
{% endblock css %}

{% block content %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr No</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
        {% for i,j in key1.items %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i}}</td>
          <td><a href="{{i}}">{{j}}</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>




{% endblock content %}
